.header-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
}

.header {
  background-color: transparent;
  border-bottom: none;
}

.header-logo {
  margin: 0.5rem;
}

.header-logo-image {
  margin: 0 0.5rem;
}
